---
# Only the main Sass file needs front matter (the dashes are enough)
---
body {
font-family: "Helvetica", sans-serif;
background-color: lightblue;
}

a {
  text-decoration: none;
  color:blue;
}
header {
  background-color: purple;
}
main {
  background-color: pink;
}
p {
  text-indent: 20px;
}
footer {
  background-color: gray;
}
body > header {
  padding: 20px 0;
}
.wrapper {
  padding: 0 40px;
}
.site-title {
  float: left;
}
.site-title a{
  text-decoration: none;
  color:blue;
}
.site-nav {
  float: right;
}
.posts {
  list-style: none;
}
.posts li a {
  text-decoration: none;
  color:#666;
}
.posts li {
  border-bottom: 2px solid: purple;
}
.posts li :list-child {
  border-bottom: 0;
}
.date {
  font-size: 60%;
  color:blue;
  float: right;
}
.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site nav ul li {
  display: inline-block;
}
.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color:#444;
  font-weight: 700;
}
.site-footer {
  color: blue;
  text-align: center;
  padding-top: 20px;
  border-bottom:1px;
}
.clear {
  clear: both;
}
