---
layout: default
---



  <ul class="posts">
    {% for post in site.posts %}
      <li>

        <h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <small class="date" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>require "kemal"

# Matches GET "http://host:port/"
get "/" do
"Hello World!"
end

# Creates a WebSocket handler.
# Matches "ws://host:port/socket"
ws "/socket" do |socket|
socket.send "Hello from Kemal!"
end

Kemal.run</p>
      </li>
    {% endfor %}
  </ul>
